<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}WebFluid App{% endblock %}</title>

    {{ wf_tailwind }}

    {% block head %}{% endblock %}
</head>

<body>
<header>
    <nav>
        {% block nav %}{% endblock %}
    </nav>
</header>

<main id="main">
    {% block content %}{% endblock %}
</main>

<footer>
    <div class="footer-inner-div">
        {% block footer %}
            WebFluid {{ current_year|default(2026) }} – MIT License
        {% endblock %}
    </div>
</footer>

{% block scripts %}{% endblock %}
</body>
</html>
